@import "../../theme/variables.scss";

.app {
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
  :global(.navbar-nav > li.active > a, .navbar-brand) {
    color: $brand-primary;
  }
}
//
// .activeLink {
//
// }

.appContent {
  margin: 50px 0; // for fixed navbar
}
